*.opendb
*.db
*.suo
*.user
*.opensdf
*.sdf
*.sln
*.o
*.obj
*.tlog
*.log
*.idb
*.pdb
*.lastbuildstate
*.DS_Store
.DS_Store
.VSCodeCounter
.vs
setenv.cmd
source
LOG
Debug
Release
Win32_Release
Win32_Debug
x64_Debug
x64_Release
Win32_vs2010
x64_vs2010
bin
/*.sh
/.vscode
/.clion.source.upload.marker
/cmake-build-debug
/CMakeLists.txt
.idea
